* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.chat {
    height: 100vh;
    background-color: black;
}

h3 {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
}

.chat__container {
    background-color: white;
    width: 80%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10rem auto;
    flex-direction: column;
}
.contaienr {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 80%;
    height: 10rem;
    background-color: gray;
    margin: 1rem auto;
}

.card__message {
    width: 90%;
    margin: auto;
    margin: auto auto 1rem auto;
}
.card__group  {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin: auto auto 1rem auto;
    justify-content: flex-start;
}
